### Mutable or immutable.
The following function adds a mapping between a string and the lowercase version of that string to a dictionary.

In [1]:
def store_lower(_dict, _string):
    '''
    Add a mapping between `_string` and a lowercased version of `_string` to `_dict`

    Args:
    _dict (dict): The dictionary to update.
    _string (str): The string to add.
    '''
    orig_string = _string
    _string = _string.lower()
    _dict[orig_string] = _string
    
    return _dict, _string

In [2]:
d = {}
s = 'Hello'

print(store_lower(d, s))

({'Hello': 'hello'}, 'hello')

## Best practices for default arguments.

In [3]:
import pandas as pd

In [4]:
#The function implemented below uses a mutable variable instead of an immutable variable.
#This is not the correct way to implement it.
def add_column(values, df=pd.DataFrame()):
    """Add a column of `values` to a DataFrame `df`.
    The column will be named "col_<n>" where "n" is
    the numerical index of the column.

    Args:
    values (iterable): The values of the new column
    df (DataFrame, optional): The DataFrame to update.
      If no DataFrame is passed, one is created by default.

    Returns:
    DataFrame
    """
    df['col_{}'.format(len(df.columns))] = values
    return df

In [5]:
values = add_column(values = list(range(5)))
values

   col_0
0      0
1      1
2      2
3      3
4      4

In [6]:
values = add_column(values = list(range(5)))
values

   col_0  col_1
0      0      0
1      1      1
2      2      2
3      3      3
4      4      4

## Change the defaut value of `df` to an immutable value to follow the best practices.

In [7]:
# Use an immutable variable for the default argument
def better_add_column(values, df=None):
    """Add a column of `values` to a DataFrame `df`.
    The column will be named "col_<n>" where "n" is
    the numerical index of the column.

    Args:
    values (iterable): The values of the new column
    df (DataFrame, optional): The DataFrame to update.
      If no DataFrame is passed, one is created by default.

    Returns:
    DataFrame
    """
    # Update the function to create a default DataFrame
    if df is None:
        df = pd.DataFrame()
    df['col_{}'.format(len(df.columns))] = values
    return df

In [8]:
values = better_add_column(values = list(range(5)))
values

   col_0
0      0
1      1
2      2
3      3
4      4

In [9]:
values = better_add_column(values = list(range(5)))
values

   col_0
0      0
1      1
2      2
3      3
4      4